*,
*:before,
*:after {
    border-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

/* Header
=====================*/

.header {
    
}

.header_inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2daae1;
}

.header_logo {
    font-weight: bold;
    color: #2daae1;
    font-size: 30px;
}

/* Nav
=====================*/

.nav {
    font-weight: bold;
    font-size: 14px;
}

.nav_link {
    margin-left: 50px;
    color: #2daae1;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_link:first-child {
    margin-left: 0px;
}

.nav_link:hover {
    color: #009ce0;
    transition: .1s linear;
}

/* Sign in
======================*/

.sign-in {
    margin: 0 auto;
    width: 250px;
    padding-top: 25px;
}

.sign-in_form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Admin
======================*/

.add-user {
    width: 250px;
    padding-top: 25px;
    margin: 0 auto;
}

.add-user_form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.user-list {
    width: 600px;
    margin: 0 auto;
    padding-top: 25px;
    border-top: 1px solid #2daae1;
}

.user-list_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coach {
    width: 600px;
    padding-top: 25px;
    margin: 0 auto;
    border-top: 1px solid #2daae1;
}

.coach_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.salary {
    width: 800px;
    padding-top: 25px;
    border-top: 1px solid #2daae1;
}

.salary_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border-radius: 3px;
    border: 1px solid;
}

input[type="submit"] {
    color: #ffffff;
    background-color: #2daae1;
    border-radius: 3px;
    border: 1px solid;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #009ce0;
    transition: .1s linear;
    cursor: pointer;
}

label {
    font-size: 10pt;
    padding: 10px 10px 0px 10px;
}

select {
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border-radius: 3px;
}

.exception {
    color: red;
    text-align: center;
}

.item {
    padding: 5px;
}
