* {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

div.header {
    height: 100px;
    padding: 15px;
    font-size: 18pt;
    font-weight: bold;
    color: #2daae1;
}

.div-login {
    display: flex;
    width: 300px;
    height: 200px;
    margin: auto;
}

.div-login .inner {
    width: 200px;
    margin: auto;
}

input {
    padding: 10px;
    margin: 10px;
    width: 180px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

label {
    margin-left: 10px;
    font-size: 10pt;
}

#signIn {
    width: 204px;
    background-color: #2daae1;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

